<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunksapp Login</title>
</head>
<body>
    <h2>Login to Bunksapp-</h2>
    <form method="post" action="/bunksapp/login">
        <input type="text" name="email" placeholder="enter your email">
        <input type="password" name="pass" placeholder="enter your password">
        <button>Login!</button>
    </form>
    <p>New to Bunksapp? <a href="/bunksapp/signup">Sign Up!</a></p>
</body>
</html>