<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunksapp Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="logBody">
    <div class="logCard">
        <h2 id="logHeading">Login to Bunksapp-</h2>
        <form id="logForm"method="post" action="/bunksapp/login">
            <input type="text" name="email" id="logEmail" placeholder="Enter Your UserName">
            <input type="password" name="pass" id="logPass" placeholder="Enter Your Password">
            <button id="logBtn">Login!</button>
        </form>
        <p id="logPara">New to Bunksapp? <a href="/bunksapp/signup">Sign Up!</a></p>
    </div>
</body>
</html>