<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunksapp Signup</title>
</head>
<body>
    <h2>Welcome to Bunksapp!</h2>
    <h3>Enter Your Details:</h3>
    <form method="post" action="/bunksapp/signup">
        <input type="text" name="name" placeholder="Enter Your Name">
        <input type="text" name="roll" placeholder="Enter Your Roll No">
        <input type="text" name="email" placeholder="Enter Your Email">
        <input type="text" name="password" placeholder="Enter Your New Password">
        <button>Sign Up!</button>
    </form>
</body>
</html>